body { 
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color : white;
  font-family: Arial,Verdana;
  overflow: hidden;
}

a,a:hover,a:active {
	color: inherit;
	text-decoration: none;
}

div.input-vert {
	width : 100%;
	height :350px;
	position : absolute;
	top : 50%;
	left : 0;
	margin-top:-175px;
	background:rgba(0,0,0,0.5);
}

div.hidden {
	display:none
}

form.input {
	width : 500px;
	height :350px;
	position : absolute;
	left : 50%;
	margin-left:-250px;
}

form.input label {
	display : inline-block;
	width : 140px;
	margin-right:10px;
	line-height: 30px;
	text-align: right;
	margin-bottom : 10px;
}

form.input input {
	display : inline-block;
	width : 300px;
	padding : 3px;
	border:none;
	color : #333;
	background:#ddd;
	margin:0;
}

form.input input[type="text"] {
	padding : 7px;
	width : 292px;
}

form.input select {
	display : inline-block;
	width : 200px;
	padding : 5px;
	border:none;
	background:#ddd;
	margin-bottom : 10px;
	margin-left : 0;
}

form.input button {
	display : inline-block;
	width : 300px;
	font-size : 20px;
	color : #77398e;
	padding : 8px;
	border:none;
	background:#ce7ced;
	line-height: 30px;
	margin-left : 100px;
}

form.input button:hover {
	color : #ce7ced;
	background:#77398e;
	cursor : pointer;
}

img#logo {
	width : 200px;
	display : block;
	position:relative;
	left : 50%;
	margin-left:-100px;
	margin-top : 20px;
	margin-bottom:10px;
}

div.loading-vert {
	width : 100%;
	height :180px;
	position : absolute;
	top : 50%;
	left : 0;
	margin-top:-90px;
	background:rgba(0,0,0,0.5);
}

div.loading {
	width : 120px;
	display : block;
	position:relative;
	left : 50%;
	margin-left:-62px;
	color :#ccc;
}

div.loading img {
	width : 20px;
	margin-top:10px;
}

div#content {
	width:100%;
	height:100%;
	position : absolute;
	left : 0;
	top:0;
	margin:0;
	padding:0;
}

div.div1,div.div2,div.div3 {
	padding: 0.5% 1%;
	width:30%;
	height:99%;
	display:inline-block;
	background:rgba(0,0,0,0.5);
	margin-left : 0.8%;
	overflow-y : auto;
}

div.content-vert h1 {
	margin-top:50px;
	color : #ce7ced;
}

div.tweets {
	padding:10px 2%;
	width:96%;
	background: rgba(0,0,0,0.5);
	margin-bottom:10px;
}

div.tweets img{
	float : left;
	max-width: 50px;
	max-height: 50px;
	margin:5px;
	display:inline-block;
}

div.tweets h3{
	float : none;
	margin:0;
	margin-top : 5px;
	line-height: 5px;
	display: inline;
}

div.tweets h3.id{
	color:#af52d2;
}

div.tweets p {
	font-size : 11px;
	margin :15px 0 5px 0;
}

div.tweets h6 {
	font-size : 11px;
	margin :0;
	text-align: right;
}

div.input_container {
	margin:0;
	padding:0;
	display : inline-block;
	height : 40px;
}

span.changetotext, span.changetofile {
	background-color: #ddd;
	background-repeat:no-repeat;
	background-position : center center;
	width : 30px;
	height: 30px;
	display: inline-block;
	margin-bottom: -10px;
}

span.changetotext {
	background-image: url(../img/icon_write.png);
}

span.changetofile {
	background-image: url("../img/icon_txt.png");
}

span.changetotext:hover, span.changetofile:hover {
	background-color: #aaa;
	cursor : pointer
}

div.header {
	width : 100%;
	height : 50px;
	background-color: #d46c73;
	box-shadow: 0 0 25px #000;
	margin : 0;
	padding : 0;
	position : absolute;
	left : 0;
	top : 0;
}

div.header img {
	height : 40px;
	margin-left : 40px;
	margin-right : 30px;
	margin-top : 5px;
	float : left;
}

div.header div.menu {
	height : 20px;
	padding : 10px;
	width : 100px;
	text-align : center;
	margin-left : 10px;
	margin-top : 5px;
	float : left;
	background : #a43c43;
	cursor : pointer;
}

div.header div.menu:hover {
	background : #888;
}

div.horizontal {
	width:660px;
	padding:0;
	padding-left : 20px;
	padding-right : 20px;
	height:100%;
	position : absolute;
	background:rgba(0,0,0,0.5);
	left : 50%;
	margin:0;
	margin-left : -350px;
	top:0;
}

div.horizontal img.logo {
	width : 300px;
	margin : 0 200px;
}

div.horizontal h2 {
	margin : 60px 0 0 0;
}

span.tweety {
	color : #ce7ced;
	font-weight: bold;
}